
h2{
    text-transform: uppercase;
}

h3{
    margin-left: 20px;
    align-items: right;
}

strong{
    color: #3F88AE;
}

/* --------------------------------- */
.row{
    margin-bottom: 20px;
}

.col{
    margin-right: 20px;
}

.fa-hospital{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.surgeries{
    background-color: #3F88AE;
    color: white;
    border-color: #3F88AE;
    box-shadow: none;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.fa-syringe{
    color: #3F88AE;
    float: left;
}

.allergies{
    background-color: #F8D377;
    color: white;
    border-color: #F8D377;
    box-shadow: none;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
}
.fa-virus{
    color: #F8D377;
    float: left;
}

.immunizations{
    background-color: #61D3A4;
    color: white;
    border-color: #61D3A4;
    box-shadow: none;
    border-radius: 10px;
}
.fa-prescription-bottle-medical{
    color: #61D3A4;
    float: left;
}

.fa-vial{
    float: left;
}

.upcomingE{
    background-color: #8561D1;
    color: white;
    border-color: #8561D1;
    box-shadow: none;
    border-radius: 10px;
    display: block;
}
.fa-calendar{
    float: left;
}


.fa-prescription-bottle{
    float: left;
}
.card-header{
    margin-bottom: 10px;
}


.doctor{
    margin-top: 10px;
    margin-bottom: 10px;
}
.fa-user-doctor{
    float: left;
}
