h1{
    padding-left: 20px;
}

h2{
    text-transform: uppercase;
}

p strong{
    padding-left: 20px;
    color: #3F88AE;
}

input{
    padding-left: 20px;
}

button{
    padding-left: 10px;
}
/* --------------------------------- */

.medicalRecords{
    background-color: #DD5471;
    color: white;
    border-color: #DD5471;
    box-shadow: none;
    border-radius: 10px;
}

.upcomingE{
    background-color: #8561D1;
    color: white;
    border-color: #8561D1;
    box-shadow: none;
    border-radius: 10px;
}

.col{
    border: 2px solid rgb(231, 231, 231);
    border-radius: 20px;
}


