h1{
    padding-left: 20px;
}

h2{
    text-transform: uppercase;
}

h3{
    margin-left: 20px;
}

strong{
    margin-left: 20px;
    color: #3F88AE;
}

input{
    margin-left: 20px;
}

button{
    display: block;
}

/* --------------------------------- */

.surgeries{
    background-color: #3F88AE;
    color: white;
    border-color: #3F88AE;
    box-shadow: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.allergies{
    background-color: #F8D377;
    color: white;
    border-color: #F8D377;
    box-shadow: none;
    border-radius: 10px;
}

.immunizations{
    background-color: #61D3A4;
    color: white;
    border-color: #61D3A4;
    box-shadow: none;
    border-radius: 10px;
}

.upcomingE{
    background-color: #8561D1;
    color: white;
    border-color: #8561D1;
    box-shadow: none;
    border-radius: 10px;
}

.col{
    border: 2px solid rgb(231, 231, 231);
    border-radius: 20px;
}


